body{

    font-size: xx-large;
    display: flex;
    justify-content: center;

}

main{
    text-align: center;
}

.calculator-body{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #2196F3;
    grid-gap: .5em;
    padding: 10px;
}

.button{

    background-color: #21dbf3;
    text-align: center;
    padding: 10px;
    font-size: xx-large;
}

.grid_vertical_span{
    grid-row: span 2;
}

.display-equation{

    grid-column: span 3;

    background-color: #21dbf3;
    padding: .25em 1em;
    display: flex;

    justify-content: center;
    align-items: stretch; 
    flex-flow: column wrap;
}

#full-equation{

    background-color: #21dbf3;
    font-size: .5em;
    text-align: start;
    height: 1em;
    ;
}

#display-results{
    text-align: center;
    height: 1em;

}
